<?xml version='1.0' encoding='utf-8'?>
<plugin id="plugin-cordova-app-update-interage" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>inappupdate_interage</name>
  <js-module name="inappupdate_interage" src="www/inappupdate_interage.js">
    <clobbers target="cordova.plugins.inappupdate_interage" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="inappupdate_interage">
        <param name="android-package" value="cordova.plugin.codeplay.in.app.update.inappupdate_interage" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/inappupdate_interage.java" target-dir="src/cordova/plugin/codeplay/in/app/update/inappupdate_interage" />
	
	
	  <framework custom="true" src="src/android/android-play-core-interage.gradle" type="gradleReference" />
	
  </platform>
</plugin>